doctype html
html
  head
    meta(charset='UTF-8')
    title rin
    link(rel='stylesheet', href='./build.css')
    script(src='./build.js')
  body
    h1 rin
    ul
      each item in urls
        li
          div
            a.hash(href='##{item.hash}') ##{item.hash}
            span.description= item.description
          div
            a.url(href='#{item.url}')= item.url
    footer
      p crafted by <a href='http://noraesae.net'>noraesae</a>
      p &lt;/&gt; available on <a href='https://github.com/noraesae/rin'>github</a>
